
/* intestazione */
header{
	height: 115px;
	background-image:url(../img/pattern.png);
	background-size: 33%;
	background-color: cornflowerblue;
}

#logo-img{
	width: 300px;
	margin-top: 35px;
}
/* /intestazione */

/* titolo e foto */

.blue{
	color: turquoise;
}

#info-nav{
	margin: 0%;
	margin-top: 25px;
}

#coda-nav{
	margin: 0%;
	margin-bottom: 25px;
}

#tim1{
	width: 53%;
}
#tim2{
	width: 45%;
}

.descphoto{
	font-size: 1px;
}
/* /titolo e foto */

/* sezione uno */
#coda-nav{
	color: grey;
}
/* fine sezione uno */

/* sezione due */
#second-sec{
	font-size: x-small;
}
.evidenced{
	background-color: yellow;
}

.unorder{
  padding: 15px;

}
/* tabella */

table{
  border-spacing: 0;

}
thead{
	background-color:cornflowerblue;
}
th,td{
  width: 33%;
}
th{
	color: white;
	font-size: xx-small;
}
tbody{
	font-size: xx-small;
}

.lightblue{
	background-color: turquoise;
}

/* quarta sezione */
.end-sec{
	font-size: xx-small;
}
/* fine quarta sezione */

/* footer */


#titfooter{
	color: grey;
  margin-bottom: 15px;
}

#finaldiv{
	color: white;
}

#imac{
	background-image: url(../img/monitor.jpg);
  width: 310px;
  height: 250px;
}

#graph{
  background-image: url(../img/graph.jpg);
  width: 310px;
  height: 250px;
}

.titolofooter{
  color: white;
  margin: 15px;
}