body{
	width: 1200px;
}
/* intestazione */
header{
	height: 115px;
	background-image:url(../img/pattern.png);
	background-size: 33%;
	background-color: cornflowerblue;
}

#logo-img{
	width: 300px;
	margin-top: 35px;
}
/* /intestazione */

/* titolo e foto */

.blue{
	color: turquoise;
}

#info-nav{
	margin: 0%;
	margin-top: 25px;
}

#coda-nav{
	margin: 0%;
	margin-bottom: 25px;
}

#tim1{
	width: 53%;
}
#tim2{
	width: 45%;
}

.descphoto{
	font-size: 1px;
}
/* /titolo e foto */

/* sezione uno */
#coda-nav{
	color: grey;
}
/* fine sezione uno */

/* sezione due */
#second-sec{
	font-size: x-small;
}
.evidenced{
	background-color: yellow;
}
/* tabella */
thead{
	background-color:cornflowerblue;
}

th{
	color: white;
	font-size: xx-small;
}
tbody{
	font-size: xx-small;
}

.lightblue{
	background-color: turquoise;
}

/* quarta sezione */
.end-sec{
	font-size: xx-small;
}
/* fine quarta sezione */

/* footer */

footer{
	height: 600px;
}
#titfooter{
	color: grey;
}

#finaldiv{
	color: white;
}

#imac{
	background-image: url(../img/monitor.jpg);
	background-size: 15%;
}