body{
	width: 1200px;
}
/* intestazione */
header{
	height: 115px;
	background-image:url(../img/pattern.png);
	background-size: 33%;
	background-color: cornflowerblue;
}

#logo-img{
	width: 300px;
	margin-top: 35px;
}
/* /intestazione */

#coda-nav{
	margin: 0%;
}

#info-nav{
	margin: 0%;
	margin-top: 25px;
}