body{
	width: 1200px;
}
/* intestazione */
header{
	height: 115px;
	background-image:url(../img/pattern.png);
	background-size: 33%;
	background-color: cornflowerblue;
}

#logo-img{
	width: 300px;
	margin-top: 35px;
}
/* /intestazione */

/* titolo e foto */

#info-nav{
	margin: 0%;
	margin-top: 25px;
}

#coda-nav{
	margin: 0%;
	margin-bottom: 25px;
}

#tim1{
	width: 53%;
}
#tim2{
	width: 45%;
}

.descphoto{
	font-size: 1px;
}
/* titolo e foto */

/* sezione due */
#second-sec{
	font-size: x-small;
}
